pyyaml
duckdb
fsspec 
redis
orjson
fastapi
pymysql
supabase
openpyxl
sqlalchemy
python-dotenv
python-jose
pydantic
pandas
uvicorn
psycopg2-binary
pymongo[srv]
python-multipart
langchain
langchain-community
langchain-core
langchain-groq
langchain-cerebras
langchain-experimental
langgraph
fireducks
dataclasses
-e .