pyyaml
duckdb
fsspec 
redis
orjson
celery
fastapi
pymysql
supabase
gunicorn
openpyxl
sqlalchemy
python-dotenv
python-jose
pydantic
lightgbm
pandas
psutil
uvicorn
beautifulsoup4
psycopg2-binary
ydata-profiling
pymongo
python-multipart
langchain
langchain-community
langchain-core
langchain-groq
langchain-openai
langchain-cerebras
langchain-experimental
fastapi-analytics
langgraph
scikit-learn
pyarrow
dataclasses
seaborn