pyyaml
duckdb
fsspec 
redis
orjson
fastapi
supabase
python-dotenv
python-jose
pydantic
pandas
uvicorn
python-multipart
langchain
langchain-community
langchain-core
langchain-groq
langchain-cerebras
langchain-experimental
langgraph
fireducks
dataclasses
-e .